# Dependencias principales para Safe Drive Models
# ========================================

# Procesamiento de audio
librosa
soundfile
audiomentations
pyaudio

# Ciencia de datos y machine learning
numpy
pandas
scikit-learn
scipy

# Deep learning
tensorflow
tensorflow_hub

# Visualización
matplotlib 
seaborn   

# Otros
wavfile                  
opencv-python
ipywidgets